&nbsp;&nbsp;
<a title="a" (click)="backClicked()" style="height: 50px; width: 50px;" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
<svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
</svg>
</a>
<br/>
<br/>
<br/>
<div class="container-fluid text-center">
    <div class="row">
        <div class="col">
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: #967E76; font-size:100px">Kotby</h1>
        </div>
    </div>
<br/>
<br/>
<br/>
<br/>
<div class="container-fluid">
  <div class="row text-center">
    <div class="col-5">
    </div>
    <div class="col">
    <div class="col">
      <div class="card text-center mb-3" style="width: 18rem; background-color: #D7C0AE;">
        <div class="card-body">
        <h5 class="card-title">تحديث كتب</h5>
        <p class="card-text"> تحديث معلومات الكتاب في قاعده البيانات</p>
        <a  (click)="GotoUpdateBook()" class="btn btn-outline-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
          </svg>
        </a>
        </div>
    </div>
    </div>
    <div class="col">
      <div class="card text-center mb-3" style="width: 18rem; background-color: #D7C0AE;">
        <div class="card-body">
        <h5 class="card-title">اضافه كتب</h5>
        <p class="card-text">pdfاضافه الكتب مع الصور و ملف ال</p>
        <a  (click)="GotoAddBook()" class="btn btn-outline-primary">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-plus" viewBox="0 0 16 16">
            <path d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z"/>
            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z"/>
          </svg>
        </a>
        </div>
    </div>
    </div>
    </div>
    <div class="col">
    </div>
  </div>
</div>

